$black: #000000;
$white: #ffffff;
$light-gray: #f0f0f0;
$orange: #fbac1b;
$brown: #6b4a0d;
$red: red;

$border: 2px solid $black;

$arcade-font: "ArcadeClassic", sans-serif;

$font-size-xxl: 40px;
$font-size-xl: 32px;
$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-sm: 12px;
